{% extends 'base.html.twig' %}

{% block title %}Gestion Produit{% endblock %}

{% block content %}
     <!-- Navigation -->
        {{ include ('layout/menu.html.twig') }}
    <div class="masthead">
        <h1>Liste produits</h1>
        <table class="table table-striped table-light" >
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Taille</th>
                    <th>Prix</th>
                    <th>Reference</th>
                    <th>Vues</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for toy in toys %}
                <tr>
                    <td>{{ toy.id }}</td>
                    <td>{{ toy.name }}</td>
                    <td>{{ toy.description }}</td>
                    <td>{{ toy.size }} cm</td>
                    <td>{{ toy.price }} €</td>
                    <td>{{ toy.reference }}</td>
                    <td>{{ toy.viewCounter }}</td>
                    <td>
                        <a  href="{{ path('toy_show', {'id': toy.id}) }}">
                            <button class="btn btn-info btn-sm">Plus</button>
                        </a>
                        <a href="{{ path('toy_edit', {'id': toy.id}) }}">
                            <button class="btn btn-info btn-sm"><i class="fa fa-edit"></i></button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
         <a href="{{ path('toy_new') }}">
        <button class="btn btn-info btn-sm">Créer un nouveau produit</button>
    </a>
    </div>
    
{% endblock %}

