  {% extends 'base.html.twig' %}

  {% block title %}Detail du Produit {% endblock %}
  {% block content %}
     <!-- Navigation -->
        {{ include ('layout/menu.html.twig') }}

    <div class=" cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
     
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Figurine {{ toy.getName() }} </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
          <h2 class="my-2">Prix</h2>
          <h3 class="my-3"> {{ toy.getPrice() }}€</h3>
          <h3 class="my-3">Description du produit</h3>
          <p>{{ toy.getDescription() }}</p>
          <h3 class="my-3">Details</h3>
          <ul>
            <li>Référence : #{{  toy.getReference() }} </li>
            <li> Collection : {{ toy.getCategory().getName()}}</li>
            <li>Matière :
              {% for mater in toy.getMater() %}
                {{ mater.name}} /
              {% endfor %}  
             </li>
            <li>Vues : {{ toy.getViewCounter() }}</li>
          </ul>
          <a class= "btn btn-primary" href="{{ path('basket_add', {
                            'productId': toy.id}) }}">Ajouter au panier
        </a>
        </div>
        
      </div>
     <!-- Toys in the same collection -->
      <h3 class="my-4">Dans la même collection</h3>

      <div class="row">
              {% for collection_toy in toy.getCategory().getToys() %}
              {% if toy.getId()!= collection_toy.getId() %}
                      <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="{{ path('detail', {'toyId': collection_toy.id}) }}" ><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ path('detail', {'toyId': collection_toy.id}) }}"> {{ collection_toy.name|upper}} </a>
                    </h4>
                  </div>
                </div>
              </div>
              {% endif %}
        
            {% endfor %}
      </div>
      <!-- /.row -->
    </div>
  </div>
    


 {% endblock %}
