  {% extends 'base.html.twig' %}

  {% block title %}Detail du Produit {% endblock %}
  {% block content %}
     <!-- Navigation -->
        {{ include ('navigation/menu.html.twig') }}

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
     
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Figurine {{ toy.getName() }} </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
          <h2 class="my-2">Prix</h2>
          <h3 class="my-3"> {{ toy.getPrice() }}€</h3>
          <h3 class="my-3">Description du produit</h3>
          <p>{{ toy.getDescription() }}</p>
          <h3 class="my-3">Details</h3>
          <ul>
            <li>Référence : #{{  toy.getId() }} </li>
            <li>Matière : </li>
          </ul>
        </div>
    </div>

 {% endblock %}
